<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>testLogin</servlet-name>
        <servlet-class>controller.servTestLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testLogin</servlet-name>
        <url-pattern>/testLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servPatient</servlet-name>
        <servlet-class>controller.servPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servConsultation</servlet-name>
        <servlet-class>controller.servConsultation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servExamen</servlet-name>
        <servlet-class>controller.servExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servProduit</servlet-name>
        <servlet-class>controller.servProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servApprovisionnement</servlet-name>
        <servlet-class>controller.servApprovisionnement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serReport</servlet-name>
        <servlet-class>controller.serReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servReport</servlet-name>
        <servlet-class>controller.servReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servUtilisateur</servlet-name>
        <servlet-class>controller.servUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servVente</servlet-name>
        <servlet-class>controller.servVente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servPatient</servlet-name>
        <url-pattern>/servPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servConsultation</servlet-name>
        <url-pattern>/servConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servExamen</servlet-name>
        <url-pattern>/servExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servProduit</servlet-name>
        <url-pattern>/servProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servApprovisionnement</servlet-name>
        <url-pattern>/servApprovisionnement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servUtilisateur</servlet-name>
        <url-pattern>/servUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servVente</servlet-name>
        <url-pattern>/servVente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
